{% extends 'base_layouts/index.html' %}
{% load static %}
{% block title %}User Change{% endblock %}
{% block footer %}{% endblock %}
{% block page-title %}Change User Details{% endblock %}
{% block bread-crumbs %}{% endblock %}
{% block left_side %}
<table id="user_table" width="100%" class="table table-striped"></table>
{% endblock %}
{% block right_side %}
<div class="card">
    <div class="card-body pb-10">
        <h5 class="card-title text-center">Update User Details</h5>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="record_id" id="record" value="" />
            {% for field in form %}
            <fieldset class="row mb-3">
                <label class="col-sm-6 col-form-label position-relative">
                    {{ field.label_tag }}
                </label>
                <div class="col-sm-6">
                    <div class="input-group has-validation">
                        {{ field }}
                    </div>
                </div>
                {{ field.errors }}
            </fieldset>
            {% endfor %}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" id="reset_button" class="btn btn-secondary">Reset</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        AjaxDatatableViewUtils.initialize_table(
            $('#user_table'),
            "{% url 'custom_auth:user_datatable' %}",
            {
                serverSide: true,
                processing: false,
                autoWidth: true,
                scrollX: true,
                dom: '<"top-left"l><"top-right"f>t<"bottom-left"i><"bottom-right"p>'
            },
        );
    });
    $.ajaxSetup({
        headers: { 'X-CSRFToken': $("[name=csrfmiddlewaretoken]").val() },
    });
    $("form").submit(function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'custom_auth:edit_user' %}",
            data: {
                email: $("#id_email").val(),
                role: $("#id_role").val(),
                record: $("#record").val(),
            },
            success: function () {
                $('#user_table').DataTable().ajax.reload();
                $("#record").val("");
                $("#reset_button").trigger('click');
            },
            error: function () {
                alert("Something went wrong, Try again later");
            }
        })
    });
    function complete(url) {
        $.ajax({
            type: "POST",
            url: url,
            success: function () {
                $('#todo_table').DataTable().ajax.reload();
            },
            error: function () {
                alert("Something went wrong, Try again later");
            }
        })
    };
    function commonDelete(url) {
        $.ajax({
            type: "DELETE",
            url: url,
            success: function () {
                $('#todo_table').DataTable().ajax.reload();
            },
            error: function () {
                alert("Something went wrong, Try again later");
            }
        })
    };

    function commonEdit(url) {
        $.ajax({
            type: "POST",
            url: url,
            success: function (data) {
                console.log(data.email);
                $("#reset_button").trigger("click");
                $("#id_email").val(data.id);
                $("#id_role").val(data.role)
                $("#record").val(data.id);
            },
            error: function () {
                alert("Something went wrong, Try again later");
            }
        })
    };
</script>
{% endblock %}